.img-item{
    height: 12em;
    width: 16em;

}

.img-wrapper{
    /* by default display: block */
    display: inline;
}   

/* span has by default value is display: inline  */
.menu-item{
    display: block;
    /* display: none;  */ /* ^ hide html Element */
    visibility: hidden;  /* hide but accupy Space*/
}